<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    
    <!--<property name="hibernate.connection.url">jdbc:mysql://208.91.199.11:3306/km</property>
    <property name="hibernate.connection.username">km</property>
    <property name="hibernate.connection.password">karnatakamuslims</property> -->
    
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/smagazine</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">mysql</property>
    <property name="hibernate.current_session_context_class">thread</property>
    
    <property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
	<property name="cache.use_query_cache">true</property>
 	<property name="net.sf.ehcache.configurationResourceName">myehcache.xml</property>
 		 	
 		 	
    <mapping class="com.model.user.dto.Login"/>
    <mapping class="com.model.personal.dto.PersonalDetails"/>
    <mapping class="com.model.executive.dto.ExecutiveDetails"/>
    <mapping class="com.model.personal.dto.City"/>
    <mapping class="com.model.personal.dto.PersonalDetails"/>
    <mapping class="com.model.personal.dto.City"/>
    <mapping class="com.model.personal.dto.District"/>
    <mapping class="com.model.currentIssue.dto.CurrentIssue"/>
  </session-factory>
</hibernate-configuration>
